@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dosis&family=Zilla+Slab+Highlight:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");
h3 {
  text-align: center;
}

.skills-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0px 30px 0px;
}

.skills-icon img {
  height: 300px;
  width: 300px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  background-color: #FFCB9A;
}

nav .dropbtn {
  background-color: #FFCB9A;
  color: black;
  padding: 10px;
  font-size: 16px;
  width: 80px;
  border: none;
  cursor: pointer;
  text-align: left;
}

nav .dropdown {
  position: relative;
  display: inline-block;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(39, 36, 36, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(39, 36, 36, 0.2);
  z-index: 1;
}

nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}

#main-section {
  background-image: url(../Images/pexels-spacex-586073.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #2C3531;
  min-height: 692px;
}

#main-section button {
  font-size: 20px;
  text-decoration: none;
  background-color: black;
  color: white;
  height: 40px;
  border-radius: 10px;
  position: relative;
  top: 300px;
  left: 133.5px;
}

#main-section button a {
  padding: 10px 20px;
}

#main-section button a:link {
  color: white;
  text-decoration: none;
}

#main-section button a:visited {
  color: white;
  background-color: white;
  text-decoration: none;
}

.container {
  color: white;
  margin: 500px 0px auto 10px;
}

.container h1 {
  font-family: Zilla Slab Highlight;
  font-size: 30px;
  font-weight: bold;
}

.container h3 {
  padding: 25px 25px 0px 20px;
  text-align: left;
  font-family: Kiwi Maru;
  font-size: 20px;
}

.container h3 span {
  color: #EE6A23;
  font-weight: bold;
}

footer {
  background-color: #FFCB9A;
  padding: 5px 10px;
  min-height: 81px;
}

footer p {
  font-size: 10px;
  text-align: left;
  position: relative;
  top: 30px;
  width: 100px;
}

footer .footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer-icon img {
  height: 40px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  #main-section {
    min-height: 904px;
  }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  #main-section {
    min-height: 1087px;
  }
}
/*# sourceMappingURL=main.css.map */